<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BookStore_EG02</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
 <filter>
    <filter-name>EncodeFilter</filter-name>
    <filter-class>cn.tedu.bookstore.filter.EncodeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping> 
   <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>cn.tedu.bookstore.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/OrderClientServlet</url-pattern>
  </filter-mapping> -->
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.tedu.bookstore.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>cn.tedu.bookstore.servlet.RegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/RegistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>cn.tedu.bookstore.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerBookServlet</servlet-name>
    <servlet-class>cn.tedu.bookstore.servlet.ManagerBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerBookServlet</servlet-name>
    <url-pattern>/Manager/ManagerBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookClientServlet</servlet-name>
    <servlet-class>cn.tedu.bookstore.servlet.BookClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookClientServlet</servlet-name>
    <url-pattern>/BookClientServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>cn.tedu.bookstore.servlet.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderManagerServlet</servlet-name>
    <servlet-class>cn.tedu.bookstore.servlet.OrderManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderManagerServlet</servlet-name>
    <url-pattern>/OrderManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderClientServlet</servlet-name>
    <servlet-class>cn.tedu.bookstore.servlet.OrderClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderClientServlet</servlet-name>
    <url-pattern>/OrderClientServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>KaptchaServlet</servlet-name>
    <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
    <init-param>
      <param-name>kaptcha.session.key</param-name>
      <param-value>img_code</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.textproducer.font.names</param-name>
      <param-value>黑体</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.border</param-name>
      <param-value>yes</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.image.width</param-name>
      <param-value>200</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.image.height</param-name>
      <param-value>50</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.textproducer.char.length</param-name>
      <param-value>4</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>KaptchaServlet</servlet-name>
    <url-pattern>/code.jpg</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>TransactionFilter</display-name>
    <filter-name>TransactionFilter</filter-name>
    <filter-class>cn.tedu.bookstore.filter.TransactionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TransactionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping> 
</web-app>